each catItems, catTitle in cats
    .category
        .menu-title.pb-2= catTitle
        each item in catItems
            if item.Available
                .d-flex.flex-column.mb-3
                    .d-flex.flex-row
                        b.name= item.Name
                        .mr-1.ml-2.light-grey |
                        i.price.ml-1 $#{item.Price}
                    div 
                        .slug= item.Slug
                    div
                        i= item.Description
