html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com",  crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:wght@300;400;500;600;700&display=swap", rel="stylesheet")
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='main.css')
    script.
      window.refreshTimer="#{refreshTimer}";
    style.
      .bottom-art {
        background-image: url('#{config.bottom_art_url}') !important;
        height: #{config.bottom_art_height} !important;
      }
      .codes {
        display: #{config.show_qr_codes === 'false' ? 'none' : 'flex'} !important;
      }
      .horizontal {
        font-size: #{config.horizontal_font_size} !important;
      }
    script(src='htmx.js')
    script(src='main.js')

  body(class=orientation)
    .content
        div
          .top-logo
            img(src='images/backpack-logo.webp')
        div
            if orientation == 'horizontal'
              .categories(
                  hx-get='/categories?menu_filter=true',
                  hx-trigger='load',
                  hx-swap='innerHTML'
              )
            else
              .categories(
                  hx-get='/categories',
                  hx-trigger='load',
                  hx-swap='innerHTML'
              )
    .codes
      .code.events 
        .title Looking for a game?
        img(src='images/gaming-qr.png')
        div See the schedule or 
        div book a specific game!
      .code.wifi 
        .title Scan for WiFi
        img(src='images/wifi-qr.png')
        div SSID: TPK_Public 
        div Password: alesandtales
    .bottom-art

