html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='bootstrap.min.css')
    link(rel='stylesheet', href='main.css')
    script.
      window.refreshTimer="#{refreshTimer}";
    script(src='htmx.js')
    script(src='main.js')

  body(class=orientation)
    .content
        div
          .top-logo
            img(src='images/backpack-logo.webp')
        div
            .categories(
                hx-get='/categories',
                hx-trigger='load',
                hx-swap='innerHTML'
            )
    .bottom-art
